	@media only screen and (max-width: 1500px) {
		header {
			nav {
				padding-left: 40px;
				padding-right: 25px;
				margin-top: 50px;
			}
		}
		.banner-content {
			margin-left: 65px;
		}
		.s-why {
			padding-right: 5%;
			background-position: 70%;
		}
		.language-switcher {
			a.active,
			a:hover {
				color: #fe8c00;
			}
		}
	}
	
	@media only screen and (max-width: 1200px) {
		.features {
			width: 90%;
		}
		.s-about {
			.container {
				flex-direction: column;
				align-items: center;
				padding-right: 10px;
			}
		}
		.about-img-container {
			margin-bottom: 60px;
		}
		body {
			.s-about {
				.container {
					padding-top: 50px;
					justify-content: flex-start;
				}
				.content {
					width: 90%;
					align-items: center;
					text-align: center;
					margin: 0 auto;
					.hide-lg {
						display: flex;
					}
					p {
						color: #fe8c00;
					}
				}
			}
		}
	}
	
	@media only screen and (max-width: 992px) {
		header {
			nav {
				margin-top: 5px;
			}
		}
		nav {
			padding: 10px!important;
			ul {
				width: 100%;
				justify-content: space-between;
				padding: 0;
				li {
					margin-right: 1px;
					a {
						font-size: 16px;
					}
				}
			}
		}
		.s-why {
			padding-right: 5px;
		}
		.s-features {
			.features-text.content {
				margin-top: 50px;
			}
		}
		.features {
			margin-top: 50px;
			justify-content: center;
		}
		.review-content {
			padding-left: 3%;
			padding-right: 3%;
			.slide-wrapper {
				width: 90%;
				margin-right: 0px;
			}
			img {
				display: none;
			}
		}
		body {
			.s-about {
				.container {
					padding-right: 10px;
				}
			}
		}
		.team-content {
			width: 80%;
		}
		.employees {
			justify-content: center;
		}
		.s-contacts {
			padding-top: 25px;
			text-align: center;
			.contacts-content {
				.contacts-button-container {
					justify-content: space-between;
				}
			}
		}
		.contacts-content {
			flex-direction: column;
			img {
				margin-top: 50px;
				;
				width: 90%;
			}
		}
		.contacts-info {
			width: 90%;
		}
		footer {
			padding-left: 5px;
			padding-right: 5px;
		}
	}
	
	@media only screen and (max-width: 800px) {
		body {
			header {
				height: auto;
				background: #5F5865;
				nav {
					width: 100%;
					position: fixed;
					justify-content: center;
					margin-top: 0px;
					padding: 20px;
					background: #fff;
					border-bottom: 1px solid #ababab;
					z-index: 10;
					.mobile-menu-icon {
						display: flex;
					}
					ul {
						display: none;
						flex-direction: column;
						align-items: center;
						position: absolute;
						top: 56px;
						left: 0;
						right: 0;
						padding: 0;
						padding-bottom: 25px;
						background: #fff;
						li {
							margin-top: 15px;
							margin-right: 0;
							a {
								padding: 0;
								font-size: 22px;
								font-weight: 700;
								text-transform: uppercase;
								color: #999;
							}
							a.started {
								border: none;
							}
						}
					}
				}
			}
		}
		.decoration.hide-lg {
			display: flex;
		}
		.banner-container {
			flex-direction: column;
			align-items: center;
		}
		.banner {
			.banner-content {
				margin-bottom: 170px;
				p {
					margin-bottom: 30px;
				}
			}
		}
		.button-container {
			width: 390px;
			justify-content: space-between;
			.button {
				margin-top: 25px;
			}
		}
		body {
			.content {
				width: 90%;
				align-items: center;
				justify-content: center;
				text-align: center;
				margin: 0 auto;
			}
		}
		.banner {
			.banner-content {
				margin-top: 110px;
			}
		}
		.language-switcher {
			margin-top: 75px;
			margin-bottom: 250px;
			margin-left: 0px;
			margin-right: 0px;
			transform: rotate(0deg);
		}
		.s-why {
			padding-left: 10px;
			padding-right: 10px;
			height: auto;
			background: #F1F3F7;
			.button-why {
				margin-bottom: 175px;
			}
		}
		.why-container {
			align-items: center;
			align-content: center;
			justify-content: center;
			.content {
				margin: 0px;
				margin-top: 50px;
			}
		}
		.why-content {
			.button-container {
				width: 100%;
				justify-content: center;
				.button {
					margin-top: 25px;
				}
			}
		}
		.s-features {
			.features-text {
				margin-top: 125px;
			}
			.features {
				justify-content: center;
			}
			.feature {
				margin-bottom: 15px;
			}
		}
		.about-us {
			height: auto;
			margin-top: 0px;
			padding-bottom: 70px;
		}
		.employees {
			margin-bottom: 70px;
		}
		.s-review {
			padding-top: 50px;
		}
		.s-contacts {
			.contacts-content {
				img {
					width: 100%;
				}
			}
				
			.contacts-button-container {
				justify-content: center;
				.button-features {
					margin-left: 0;
				}
			}
		}
		footer {
			.footer-nav {
				display: none;
			}
		}
	}
	
	@media only screen and (max-width: 480px) {
		header {
			.button-container {
				width: 100%;
				justify-content: center;
				.button {
					margin-top: 25px;
					margin-right: 5px;
				}
			}
		}
		.s-features {
			.features-img {
				width: 100%;
			}
		}
		.features {
			.feature {
				width: 90%;
				&-img {
					display: none;
				}
				&-text {
					width: 100%;
				}
			}
		}
		/*
		.review-text, .review-about {
			text-align: center;
		}
		*/
		.employee {
			h4 {
				text-align: center;
				line-height: 1.2em;
			}
			img {
				width: 100%;
				height: auto;
				max-width: 300px;
			}
		}
		.s-contacts {
			padding-left: 20px;
			padding-right: 20px;
			.contacts-content {
				.contacts-button-container {
					justify-content: center;
					.button-started {
						margin-bottom: 25px;
					}
				}
			}
		}
	}
	
	@media only screen and (max-width: 320px) {}
