@import "vars";
@import "fonts";
@import "normalize";
@import "global";
@import "flex";
@import "iziModal.min.css";
@import "../fonts/fontello/css/fontello.css";
h2 {
	font-size: 26px;
	line-height: 1.1em;
}

.scroll-arrow {
	width: 65px;
	height: 65px;
	margin: auto;
	position: absolute;
	left: 0;
	right: 0;
	bottom: 70px;
	border-radius: 50%;
	background-color: #fff;
	color: #ACB0BA;
	cursor: pointer;
	transition: .5s;
	&:hover {
		background-color: #fe8c00;
		color: #fff;
	}
	i {
		font-size: 20px;
	}
}

.scroll-arrow.arrow-shadow {
	box-shadow: 0px 0px 108px 27px rgba(243, 243, 248, 1);
}

.decorations {
	span {
		font-size: 14px
	}
}

.decoration {
	width: 24px;
	height: 1px;
	border-bottom: 1px solid #FE8C00;
	&:first-child {
		margin-right: 15px;
	}
	&:last-child {
		margin-left: 15px;
	}
}

.decoration.hide-lg {
	display: none;
}

.decoration-white {
	@extend .decoration;
	border-bottom: 1px solid #fff;
}

.button-container {}

.button {
	width: 190px;
	height: 50px;
	border-radius: 36px;
	font-size: 16px;
	text-decoration: none;
	text-transform: uppercase;
	cursor: pointer;
	transition: 0.5s;
}

.button-started {
	@extend .button;
	background: #fe8c00;
	color: #ffffff;
	&:hover {
		background: #fff;
		color: #999;
	}
}

.button-features {
	@extend .button;
	background: #fff;
	color: #999;
	&:hover {
		background: #fe8c00;
		color: #fff;
	}
}

.button-why {
	@extend .button-features;
	border: 1px solid #D7DBE8;
	box-shadow: 0px 0px 64px 15px rgba(222, 226, 236, 0.75);
	color: #999
}

#modal {
	background-color: #534B5A;
	.iziModal-wrap {
		display: flex;
		border-radius: 25px;
		.iziModal-content {
			padding: 40px 30px!important;
			button {
				background: #fe8c00;
				margin-bottom: 10px;
				position: absolute;
				right: -8px;
				top: -8px;
				font-size: 14px;
				font-weight: bold;
				border-radius: 50%;
				width: 30px;
				height: 30px;
				border: 0;
				color: #a9a9a9;
				cursor: pointer;
				border: none;
				outline: none;
			}
			.icon-close:before {
				color: #fff;
				content: "X";
			}
			.modal-container {
				margin-top: 50px;
			}
			h3 {
				text-align: center;
				font-size: 34px;
				color: #fff;
			}
			p {
				color: #fff;
				span {
					color: #fe8c00;
				}
			}
		}
	}
}

#modal-idea {
	background-color: #534B5A;
	.iziModal-content {
		display: flex;
		flex-direction: column;
		justify-content: center;
		padding-bottom: 100px;
		p {
			text-align: center;
			font-size: 24px;
			color: #fff;
		}
		form {
			width: 100%;
			display: flex;
			flex-direction: column;
			margin-bottom: 25px;
			input {
				width: 503px;
				height: 40px;
				margin: 0 auto;
				margin-bottom: 25px;
				border-radius: 3px;
				border: 1px solid #ddd;
				padding: 15px;
				font-size: 14px;
				color: #999;
				outline: none;
				&:focus {
					border: 2px solid #FE8C00;
				}
			}
			textarea {
				margin: 0 auto;
				height: 150px;
				padding: 10px;
				border: 1px solid #ddd;
				color: #999;
				outline: none;
				&:focus {
					border: 2px solid #FE8C00
				}
			}
			button {
				position: relative;
				top: 15px;
				margin-top: 50px;
				border: none;
				margin: 0 auto;
				width: 200px;
			}
		}
		button.icon-close {
			background: #fe8c00;
			margin-bottom: 10px;
			position: absolute;
			right: -8px;
			top: -8px;
			font-size: 14px;
			font-weight: bold;
			border-radius: 50%;
			width: 30px;
			height: 30px;
			border: 0;
			color: #a9a9a9;
			cursor: pointer;
			border: none;
			outline: none;
		}
		.icon-close:before {
			color: #fff;
			content: "X";
		}
	}
}

nav {
	h1 {
		font-family: 'Hiring-Regular', sans-serif;
		letter-spacing: 3px;
		font-size: 34px;
		text-transform: uppercase;
	}
	.mobile-menu-icon {
		display: none;
		width: 50px;
		height: 50px;
	}
	ul {
		display: flex;
		li {
			list-style: none;
			margin-right: 20px;
			&:last-child {
				margin-right: 0px;
			}
			a {
				padding: 15px;
				cursor: pointer;
				&:hover {
					color: #fe8c00;
				}
			}
			a.started {
				border: 1px solid #fff;
				border-radius: 36px;
				&:hover {
					border: 1px solid #fe8c00;
				}
			}
		}
	}
}

header {
	position: relative;
	height: 1080px;
	background: url(../img/header-bg.jpg) no-repeat;
	background-size: cover;
	color: #fff;
	nav {
		padding-left: 120px;
		padding-right: 50px;
		margin-top: 50px;
		>a {
			color: #fe8c00;
		}
		ul {
			li {
				a {
					color: #fff;
				}
			}
		}
	}
}

.banner-content {
	width: 500px;
	margin-top: 275px;
	margin-left: 255px;
	p {
		width: 75%;
	}
	span {
		text-transform: uppercase;
	}
}

.language-switcher {
	margin-top: 300px;
	margin-left: auto;
	margin-right: 1%;
	transform: rotate(-90deg);
	a,
	span {
		margin-right: 13px;
		color: #C0BEC2;
	}
	a {
		cursor: pointer;
		&:hover {
			color: #fff;
		}
	}
	a.active {
		color: #fff;
	}
}

.dark-color-text {
	span {
		text-transform: uppercase;
		color: #999;
	}
	h2 {
		color: #4f4f6f;
	}
	p {
		color: #999;
	}
}

.s-why {
	position: relative;
	height: 1080px;
	padding-right: 10%;
	background: url(../img/why-bg.jpg) no-repeat;
	background-size: cover;
	.why-content {
		width: 560px;
		margin-top: 290px;
		h2 {
			font-size: 31px;
		}
	}
}

.s-features {
	position: relative;
	background: url(../img/features-bg.jpg) no-repeat;
	background-size: cover;
	padding-bottom: 175px;
	h2 {
		font-size: 31px;
	}
	.features-img-container {
		width: 90%;
		max-width: 1300px;
		background: url('../img/3-layers.png') no-repeat;
		background-size: 99%;
		background-position-x: 40%;
		.features-img {
			width: 100%;
			margin-top: 2%;
		}
	}
}

.features-text {
	margin-top: 50px;
	color: #fff;
}

.features {
	width: 80%;
	margin-top: 130px;
	h4 {
		text-align: center;
		color: #fe8c00;
	}
}

.feature {
	width: 450px;
	margin-bottom: 50px;
	color: #fff;
	align-items: flex-start;
	p {
		margin-top: 30px;
	}
	&-img {
		width: 54px;
		height: 54px;
		margin-right: 5%;
		background-color: #fff;
		border-radius: 50%;
	}
	&-text {
		text-align: center;
		width: 75%;
		h4 {
			font-size: 21px;
		}
	}
}

.s-review {
	position: relative;
	padding-top: 150px;
	padding-bottom: 150px;
	border-bottom: 1px solid #E8EBF1;
}

.review-content {
	padding-left: 100px;
	.slide-wrapper {
		width: 35%;
		margin-right: 5%;
		.slide {}
		p {
			margin: 0;
		}
		.review-text {
			width: 99%;
			margin-bottom: 15px;
			font-size: 16px;
			font-family: 'Playfair Display', serif;
			font-style: italic;
			margin-left: -35px;
			color: #999;
		}
		.review-about {
			height: 60px;
		}
		.name {
			margin-left: -35px;
			font-weight: 600;
			font-size: 16px;
			text-transform: uppercase;
			color: #565674;
		}
		.position {
			margin-left: -35px;
			font-size: 12px;
			color: #B3B3B3;
		}
		.flex-direction-nav {
			display: flex;
			padding: 0;
			flex-direction: row;
			justify-content: space-between;
			list-style: none;
			a {
				font-size: 18px;
				color: #999;
			}
		}
		.flex-viewport {}
	}
	img {
		width: 60%;
		height: auto;
	}
}

.s-about {
	position: relative;
	.about-img-container {
		width: 100%;
		max-width: 1173px;
	}
	.content {
		width: 55%;
	}
	h2 {
		font-size: 31px;
	}
	.container {
		padding-left: 10px;
		padding-right: 15%;
	}
}

.about-us {
	height: 1080px;
	margin-top: 100px;
	background: url(../img/about-bg.jpg) no-repeat;
	background-size: cover;
}

.team-content {
	margin-top: 50px;
	width: 90%;
	max-width: 1700px;
}

.employees {
	width: 100%;
	margin-top: 50px;
}

.employee {
	margin-bottom: 50px;
	line-height: 0.9em;
	img {
		width: 371px;
		height: 280px;
	}
	h4 {
		margin-top: 25px;
		font-weight: 600;
		font-size: 20px;
		text-transform: uppercase;
	}
	p {
		font-size: 16px;
	}
}

.s-contacts {
	background: url(../img/contacts-bg.jpg) no-repeat;
	background-size: cover;
	padding-left: 30px;
	padding-right: 30px;
	padding-top: 150px;
	padding-bottom: 150px;
	.contacts-text {
		margin-top: 15px;
		margin-bottom: 15px;
		p {
			font-size: 18px;
			span {
				color: #fe8c00;
			}
		}
	}
	.button-features {
		margin-left: 25px;
	}
	img {
		width: 50%;
		height: auto;
	}
}

.contacts-content {
	width: 100%;
	max-width: 1600px;
}

.contacts-info {
	width: 45%;
	margin-right: 5%;
	color: #fff;
	P {
		font-size: 16px;
	}
	h2 {
		font-size: 20px;
		text-transform: uppercase;
		margin-top: 25px;
		margin-bottom: 25px;
		font-size: 26px;
	}
	h3 {
		font-size: 44px;
	}
}

footer {
	padding-left: 50px;
	padding-right: 50px;
	nav {
		border-bottom: 1px solid #F2F2F3;
		>a {
			color: #605965;
		}
		ul {
			margin-top: 50px;
			margin-bottom: 50px;
			li {
				a {
					color: #999;
				}
				a.started {
					color: #fff;
					border: 1px solid #D7DBE8;
					border-radius: 36px;
					background-color: #fe8c00;
					&:hover {
						background-color: #fff;
						border: 1px solid #fe8c00;
						color: #999;
					}
				}
			}
		}
	}
	.social-and-copy {
		padding-top: 35px;
		padding-bottom: 50px;
		color: #6a6a77;
	}
	.socials {
		i {
			margin-right: 5px;
			font-size: 18px;
			cursor: pointer;
			transition: 0.3s;
			&:hover {
				color: #fe8c00;
			}
		}
	}
}

@import "media";
