
.icon-arrow-left:before { content: '\2190'; } /* '←' */
.icon-arrow-right:before { content: '\2192'; } /* '→' */
.icon-arrow-down:before { content: '\2b07'; } /* '⬇' */
.icon-twitter:before { content: '\f099'; } /* '' */
.icon-facebook:before { content: '\f09a'; } /* '' */
.icon-gplus:before { content: '\f0d5'; } /* '' */
.icon-instagram:before { content: '\f16d'; } /* '' */